.background-login {
  position: fixed;
  background: rgba(77, 189, 73, 0.29);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-form {
  background: #FFFFFF;
  width: 28.125rem;
  height: 30.625rem;
  margin: 0 auto;
  border-radius: 18px;

  @media(max-width: 600px) {
    width: 21rem;
  }
}

.content-form {
  margin-top: 2.438rem;
}